.Location 
    padding: 100px 0
    &-title 
        font-size: 3.8rem
        margin-bottom: 15px
        color: #212529
    
    &-description
        color: #9D9FA1
        font-weight: 500
        font-size: 1.8rem
        letter-spacing: .3px
        margin-bottom: 80px
    iframe 
        width: 100%
        border-radius: 5px