.Nav 
    background: white
    height: 105px
    width: 100%
    box-shadow: 2px 2px 6px #cecece
    display: flex

    .menu-icon 
        display: none
        font-size: 1.7rem
        // color: #212529
        cursor: pointer


    .space 
        margin: 0 40px

    &-container
        display: flex
        justify-content: space-between
        align-items: center
        width: 100%
        .logo 
            font-size: 1.6rem
            font-weight: 700
            display: flex 
            align-items: center
            img 
                height: 30px
                margin-right: 8px

        nav 
            ul 
                display: flex
            li 
                font-weight: 500
                color: darken(#BDBDBD, 20% )
                list-style: none 
                padding: 10px
                font-size: .9.5rem
                cursor: pointer
                &:hover
                    color: darken(#BDBDBD, 50% )

        .left-side
            display: flex
            align-items: center 

            .tel
                font-weight: 500
                font-size: .9
                color: darken(#BDBDBD, 5% )
                span 
                    border: solid 1px #e2e2e2
                    border-radius: 20px
                    margin: 0 12px


@media screen and ( max-width: 950px )
    .Nav 
        .menu-icon 
            display: block
            
        &-container
            nav 
                display: none
            .left-side 
                    display: none
        


    
        

